body{
    font-family: 'Poppins';
}
#navbar-wrapper{
    margin-top: 20px;
}

.navbar-brand img{
    width: 130px;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.9);
}

#carousel-wrapper {
    background-image: url(../images/banner-products/bg.png);
    background-repeat: no-repeat;
    background-position: bottom left;
}

.carousel-item {
    padding: 0px 40px 60px 40px;
}

.carousel-indicators li {
    background-image: linear-gradient(to left, #FF9C35 , #FFD019);
    height: 8px;
    width: 25px;
    border: none;
    border-radius: 20%;
}

.carousel-content h2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;;
}

.carousel-content p {
    color: #707070;
    font-size: 15px;
    padding-bottom: 8px;
}

.buy-now-button {
    background: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 400;
}

.product-heading {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: right;
    font-weight: 900;
    font-size: 43px;
    color: #f7f6f6;
}